backend/node_modules
backend/dist
backend/node_modules
backend/build

backend2/node_modules
backend2/dist
backend2/node_modules
backend2/build

frontend/node_modules
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# production
frontend/build